/* mini reset */
* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* layout */

body {
  font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
  color: #000;
  font-size: 14px;
  transition: all 0.2s;
  background-color: #fdfcdc;
}

h1 {
  font-size: 40px;
}

#main {
  padding: 0.5rem;
  background-color: #00afb9;
  color: #fff;
}

#search-form input {
  width: 50%;
  border: 1px solid rgba(34, 36, 38, 0.15);
  padding: 12px;
  min-height: 40px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 100px;
  margin: 0;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

#search-form button[type="submit"] {
  margin: 0;
  width: auto;
  padding: 12px;
  min-height: 40px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 100px;
  margin-left: -80px;
  background-color: #0081a7;
}
#search-form button[type="submit"]:hover {
  background-color: #f07167;
  color: white;
}

#search-results {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* Rating */

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

/* Troy's recipe button CSS */
#getRecipe {
  display: none;
  margin: 0;
  width: auto;
  padding: 12px;
  min-height: 40px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 100px;
  background-color: #a2b9c1;
  color: white;
  cursor: pointer;
}
#quick-meals-button,
#clear,
#vegetarian-meals {
  margin: 0;
  width: auto;
  padding: 12px;
  min-height: 40px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 100px;
  background-color: #a2b9c1;
  color: white;
  cursor: pointer;
  margin-right: 5px;
}

#button-container {
  padding-left: 20px;
}

#getRecipe:hover,
#quick-meals-button:hover,
#clear:hover,
#vegetarian-meals:hover {
  background-color: #859da4;
  color: white;
}

.recipe-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.recipe-content {
  background-color: #f4f4f4;
  margin: 20% auto;
  padding: 20px;
  width: 60%;
}
.close {
  color: #ccc;
  float: right;
  font-size: 30px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#container {
  padding: 2em;
  background-color: #fdfcdc;
}

/* new css for Troy's button content*/
#recipe-title {
  color: rgb(97, 93, 93);
  line-height: 1.8;
  padding-right: 10px;

  position: inherit;
  background: #e0dfca90;
  /* width: 100%; */
  background-blend-mode: soft-light;
  max-width: 900px;
  margin-left: 300px;

  text-align: center;
}
#recipe-title ul li {
  list-style: none;
}
#recipe-title a {
  text-decoration: none;
  color: #c59b08;
  cursor: pointer;
}
#recipe-title a:hover {
  text-decoration: none;
  color: rgb(97, 93, 93);
}

#recipe-title img {
  border-radius: 57%;
  float: left;
  padding-top: 40px;
  padding-left: 20px;
}

#recipe-title li #hey {
  /*title */
  font-style: oblique;
  font-size: 4.319654427645788vw;
  padding-right: 500px;
  line-height: 1.2;
  padding-top: 60px;
  padding-left: 15px;
}
#recipe-title li #summary {
  float: top;
  padding-left: 370px;
  padding-top: 20px;
  text-align: left;
}

#recipe-title li #gtr {
  font-style: oblique;
  font-size: 40px;
  padding-left: 400px;
}
#recipe-title li #h4time {
  /* padding-right: 200px; */
  color: rgba(185, 101, 92, 0.735);
  font-size: 20px;
}

#steps {
  color: rgba(160, 81, 45, 0.747);
  text-align: left;
  padding-left: 80px;
}
